name: Dendritic

on:
  pull_request:
    branches: [ "master" ]

jobs:

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
          source $HOME/.cargo/env

      - name: Run tests with coverage
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --out Xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./target/coverage/xml/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}  # Replace with your Codecov token

  ndarray:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-ndarray"
      run: cargo build  --release --color always

    - name: Test
      working-directory: "./crates/dendritic-ndarray"
      run: cargo test --release --color always

  metrics:
    runs-on: ubuntu-20.04
    needs: [ndarray]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-metrics"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-metrics"
      run: cargo test --release --color always

  autodiff:
    runs-on: ubuntu-20.04
    needs: [ndarray]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-autodiff"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-autodiff"
      run: cargo test --release --color always

  preprocessing:
    runs-on: ubuntu-20.04
    needs: [ndarray]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-preprocessing"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-preprocessing"
      run: cargo test --release --color always

  datasets:
    runs-on: ubuntu-20.04
    needs: [ndarray]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-datasets"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-datasets"
      run: cargo test --release --color always

  trees:
    runs-on: ubuntu-20.04
    needs: [ndarray, metrics, autodiff, preprocessing, datasets]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-trees"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-trees"
      run: cargo test --release --color always

  knn:
    runs-on: ubuntu-20.04
    needs: [ndarray, metrics, autodiff, preprocessing, datasets]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-knn"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-knn"
      run: cargo test --release --color always


  regression:
    runs-on: ubuntu-20.04
    needs: [ndarray, metrics, autodiff, preprocessing, datasets]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-regression"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-regression"
      run: cargo test --release --color always

  bayes:
    runs-on: ubuntu-20.04
    needs: [ndarray, metrics, autodiff, preprocessing, datasets]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-bayes"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-bayes"
      run: cargo test --release --color always

  clustering:
    runs-on: ubuntu-20.04
    needs: [ndarray, metrics, autodiff, preprocessing, datasets]
    steps:
    - uses: actions/checkout@v2

    - name: Build
      working-directory: "./crates/dendritic-clustering"
      run: cargo build --release --color always

    - name: Test
      working-directory: "./crates/dendritic-clustering"
      run: cargo test --release --color always


